.header {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  padding: 0 10px;
}

.spacer {
  composes: spacer280 from './Timeline.module.css';
}

.labels {
  composes: labels from './Timeline.module.css';
  height: 16px;
}

.monthLabel {
  composes: monthLabel from './Timeline.module.css';
}

.toggleSpacer {
  composes: toggleSpacer from './Timeline.module.css';
}

.deleteSpacer {
  composes: deleteSpacer from './Timeline.module.css';
}
